* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* html {
  scroll-snap-type: both proximity;
  -webkit-scroll-snap-type: both proximity;
} */
.App {
  background-color: rgb(37, 33, 28);
  width: 100vw;

  padding: 0;
}

::-webkit-scrollbar {
  height: 10px;
  background-color: transparent;
}
/* 
::-webkit-scrollbar {
  height: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #dbd6a9;
  border-radius: 50px;
} */
